# created by virtualenv automatically
*.pyc
.idea
.coverage
.vagrant
ve
ve/*
.DS_Store
*.pyc
**/*.pyc
venv
env
env/*
envv/*
envv
*.pyc
**/*.pyc
sent_emails
sent_emails/*
*.rdb
dump.*
media/
media/*
myvenv
myvenv/
myvenv/*
celerybeat.pid
celerybeat-schedule.db
myenv
myenv/
myenv/*

